body{
  background: #9191F5;
  font-family: monospace, monospace;
  overflow-x: hidden;
  position: relative;
  margin: 0;
}

.statheading{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;

  box-shadow: 0px 2px 2px 0px #00000040;
  

  background-color: #9191F5;
  font-size: 20px;
  font-weight: 400;
  line-height: 47.52px;
  border-radius: 14px;
  -webkit-text-fill-color: white;
}

.statbox{
  margin-top: 20px;
  width: 90vw;
  width: 90vw;
  max-width: 950px;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 38.73px;
  text-align: left;
  -webkit-text-fill-color: black;

  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFA8D8;

}

.stattext {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.num{
  font-family: monospace, monospace;
font-size: 40px;
font-weight: 400;
line-height: 96.82px;
}

.parallax {
  background-image: url("img/stars-background.png");
  min-height: 750px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: monospace, monospace;
  text-align: center;
  padding-top: 75px;
  font-size: 50px;
}

.parallax-text {
  text-align: left;
  margin-left: 10vw;
}

.parallax-text h2 {
  font-size: 1.2em;
  background-color: #9191F5;
  border-radius: 10px;
  width: fit-content;
  padding: 5px 10px;
}

.parallax-text h4 {
  font-size: 1em;
}
.scrolling{ 
  height: 0vh;
  background-image: url("img/background.svg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: bottom;
  border: none;
  margin-top: -80vh;
  padding-bottom: 100vh;
}

@media screen and (max-width: 550px) {
  .statbox{
    margin: 5vw;
    width: 90vw;
  }
}

.notes-heading {
  font-size: 20px;
  text-align: center;
  color: white;
}
.notes {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 10px;
  width: 90vw;
  max-width: 950px;
  margin: auto;
}

.note {
  border: white 10px solid;
  padding: 0px;
  display: block;
  margin-bottom: 10px;
}

.message {
  background-color: #FFA8D8;
  width: calc(100% - 10px);
  padding: 10px 5px;
  display: block;
}

.person {
  background-color: white;
  width: 100%;
  padding: 10px 5px;
  display: block;
}

@media screen and (max-width: 1240px) {
  .scrolling{ 
    background-size: 150vw;
    background-position: bottom left 10%;
  }
}

@media screen and (max-width: 960px) {
  .parallax-text h2 {
    font-size: 1em;
  }

  .parallax-text h4 {
    font-size: 0.7em;
  }

  .scrolling{ 
    background-size: 200vw;
    background-position: bottom left 35%;
    margin-top: -100vh;
  padding-bottom: 100vh;
  }
}

@media screen and (max-width: 550px) {
  .notes {
    display: grid;
    grid-template-columns: 100%;
  }

  .parallax-text h2 {
    font-size: 0.7em;
  }

  .parallax-text h4 {
    font-size: 0.4em;
  }

  .scrolling{ 
    background-size: 400vw;
    background-position: bottom left 35%;
    margin-top: -110vh;
  padding-bottom: 130vh;
  }
}

.gallery-item {
  width: 450px;
  height: 320px;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1000px) {
  .gallery-item {
    width: 250px;
    height: 200px;
  }
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.scroller {
  max-width: 100%;
  padding: 1rem;
  margin-top: 1rem;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
 
}

.scroller[data-animated = "true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

.scroller[data-animated = "true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 25s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.625rem));
  }
}
